<div>
    {{!-- <a href="/dashboard/create/"><button id="create-post" class="button is-primary is-pulled-right">create post</button></a> --}}
        
    <h2 class="title pb-4">Welcome to Dashboard!<br>Your current Posts:
    </h2><br>
    {{#if posts.length}}
</div>

{{#each posts as |post|}}

{{> post-info post}}
        
    <a href="/dashboard/edit/{{post.id}}"><button class="button mb-5 ml-5 is-warning">edit post</button></a>
    </div>
{{/each}}

{{else}}
<h6> No posts!</h6>

{{/if}}
<a href="/new_post"><button >New Post</button></a>